.box{
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    border: 1px solid lightgreen ;
    text-align: center;
}

.boxA {
    position: relative;
    top: 200px;
    left: 200px;
    }

.boxB{
    position: absolute;
    left: -30px;
    bottom: 30px;
}   

.boxC {
    position: absolute;
    right: -30px;
    bottom: 30px;
    }

.boxD{
    position: absolute;
    left: -30px;
    top: 30px;
}    


.boxE{
    position: absolute;
    right: -30px;
    top: 30px;
}



